# Lists all the Python library dependencies needed to run your project. This allows anyone to recreate your virtual environment perfectly.

torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
numpy==2.3.1